<h1>application jobs</h1>
<div class="container">
  <div class="add-new-field">
    <div class="add-inside">
      <div class="addiction">
        <img class="down-aro-img" height="20px" width="20px" id="add" src="../../assets/icon/addition-thick-symbol.png"
          alt="...not responsible">
      </div>
      <div class="add-para">
        Add new field
      </div>
    </div>

  </div>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Field Title</th>
          <th>Input Type</th>
          <th>Expected Field Value</th>
          <th>Mandatory/Non Mandatory</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Full Name</td>
          <td>Text input</td>
          <td>Name Of Applicant</td>
          <td>Mandatory</td>
        </tr>
        <tr>
          <td>E-mail Id</td>
          <td>Text input</td>
          <td>Email Of Applicant</td>
          <td>Mandatory</td>
        </tr>
        <tr>
          <td>Phone Number</td>
          <td>Text input</td>
          <td>Mobile Number Of Applicant</td>
          <td>Mandatory</td>
        </tr>
        <tr>
          <td>Resume</td>
          <td>File Upload</td>
          <td>PDF/WORD/CSV File</td>
          <td>Mandatory</td>
        </tr>
        <tr>
          <td>Years of Experience</td>
          <td>
<div class="flex-fle">
  
  <p>  selection</p>

  <div class="selection" >
    <img class="down-aro-img" height="15px" width="18px" src="../../assets/icon/addition-thick-symbol.png"
    alt="">
  </div>
</div>

          </td>
          <td>Number of Years Of Experience</td>
          <td>
<div class="flex-fle" >
  
  <p> Non-Mandatory
  </p>

   <div class="non-manry">
    <img class="down-aro-img " height="25px" width="25px" src="../../assets/icon/down-arrow.png" alt="">
   </div>
</div>

          </td>
          <td class="dustbin-bg" >
            <div class=".add-inside delete-row">
              <div>
                <img class="down-aro-img" height="15px" width="18px" src="../../assets/icon/four-sides (1).png" alt="">
              </div>
              <div>
                <img class="down-aro-img" height="15px" width="18px" src="../../assets/icon/dustbin.png" alt="">
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Human Verification</td>
          <td>

        <div class="flex-fle">
          <p>
            CheckBox
           </p>
  
              <div  class="check-box">
                <img class="down-aro-img" height="15px" width="18px" src="../../assets/icon/addition-thick-symbol.png"
                alt="..">
              </div>
        </div>


          </td>
          <td>Checked</td>
          <td>
<div class="flex-fle">
  
  <p>Mandatory</p>

  <div class="mandatory"> <img class="down-aro-img " height="25px" width="25px" src="../../assets/icon/down-arrow.png" alt="">
  </div>
</div >
          </td>
          <td class="dustbin-bg">
            <div class=".add-inside delete-row">
              <div>
                <img class="down-aro-img" height="15px" width="18px" src="../../assets/icon/four-sides (1).png" alt="">
              </div>
              <div>
                <img class="down-aro-img" height="15px" width="18px" src="../../assets/icon/dustbin.png" alt="">
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Are you Experienced</td>
          <td>


          <div class="flex-fle">
            <p>Toggle</p>


            <div class="toggle">
             <img class="down-aro-img mar-end" height="15px" width="18px"
             src="../../assets/icon/addition-thick-symbol.png" alt="">
            </div>
 
          </div>

          </td>
          <td>Number of years Experience</td>
          <td>
<div class="flex-fle">
  
  <p> Non-Mandatory</p>


  <div  class="non-manry">
   <img class="down-aro-img" height="25px" width="25px" src="../../assets/icon/down-arrow.png" alt="">
  </div>
</div>


          </td>
          <td class="dustbin-bg">
            <div class=".add-inside delete-row">
              <div>
                <img class="down-aro-img" height="15px" width="18px" src="../../assets/icon/four-sides (1).png" alt="">
              </div>
              <div>
                <img class="down-aro-img" height="15px" width="18px" src="../../assets/icon/dustbin.png" alt="">
              </div>
            </div>
          </td>
        </tr>
        <tr class="light-color">
          <td>Enter Field Title Here</td>
          <td>


       <div class="flex-fle">
        <p>
          Select input type
        </p>


<div class="mandatory">

<img class="down-aro-img" height="25px" width="25px" src="../../assets/icon/down-arrow.png" alt="">


</div>
       </div>
          </td>
          <td>Enter Expected field Value Here</td>
          <td>

            Mandatory/Non-Mandatory

            <img class="down-aro-img" height="25px" width="25px" src="../../assets/icon/down-arrow.png" alt="">

          </td>
          <td class="dustbin-bg">
            <div class=".add-inside delete-row">
              <div>
                <img class="down-aro-img" height="15px" width="18px" src="../../assets/icon/four-sides (1).png" alt="">
              </div>
              <div>
                <img class="down-aro-img" height="15px" width="18px" src="../../assets/icon/dustbin.png" alt="">
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>