<!-- <header>header part</header> -->

<!-- <div>
  <ul type="none"  >
    <li><a [routerLink]="['welcome']" ><button mat-raised-button color="warn">Home Page</button></a></li>
    

    <li><a [routerLink]="['signin']"><button mat-raised-button color="accent">Sign in</button></a></li>
    <li><a [routerLink]="['joblist']"><button mat-raised-button color="accent">Job-List</button></a></li>
    <li><a [routerLink]="['postjob']"><button mat-raised-button color="accent">Job-post-Form</button></a></li>
  </ul>
 </div>
 
 <router-outlet style="margin: 20px;"></router-outlet> -->
 

<!-- <footer>footer part</footer>  -->

<app-forms>
  <!-- <app-joblist></app-joblist> -->
  <!-- <app-practice></app-practice> -->
<!-- <app-jobl></app-jobl> -->


