.example-card {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .example-header-image {
    background-image: url('../../assets/icon/logo-tibil-black.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }